body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.form-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

label {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
    display: block;
}

input[type="text"],
input[type="password"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 5px; /* Decrease space between the radio button and label */
    vertical-align: middle;
}

/* Radio button container for horizontal layout */
.radio-container {
    margin-bottom: 15px;
}

.radio-container input[type="radio"],
.radio-container label {
    display: inline-block;
    margin-right: 10px; /* Adjust the space between radio buttons and labels */
    vertical-align: middle;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}